/* About Us Page Specific Styles */

html,
body {
        height: 100%;
        margin: 0;
}

.o_about_us_page {
    height: inherit;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.o_about_us_page .about_header {
    background: linear-gradient(45deg, var(--o-color-primary), var(--o-color-2));
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.o_about_us_page .about_header h1 {
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.o_about_us_page .about_header p {
    color: black;
}

.o_about_us_page .mission_vision .card {
    border: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.o_about_us_page .mission_vision .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.o_about_us_page .mission_vision .card i {
    transition: transform 0.3s ease;
}
.o_about_us_page .mission_vision .card:hover i {
    transform: scale(1.1);
}

.o_about_us_page .why_choose_us {
    background-color: var(--o-view-background-color);
}

.o_about_us_page .feature-item {
    padding: 20px;
}
.o_about_us_page .feature-item i {
    margin-bottom: 15px;
    display: inline-block;
    padding: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.o_about_us_page .feature-item .text-info { color: var(--o-info) !important; }
.o_about_us_page .feature-item .text-warning { color: var(--o-warning) !important; }
.o_about_us_page .feature-item .text-danger { color: var(--o-danger) !important; }
.o_about_us_page .feature-item .text-secondary { color: var(--o-gray-600) !important; }

.o_about_us_page .team .team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 15px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px !important;
}
.o_about_us_page .team .team-member.card {
    border: none;
}

.o_about_us_page .cta {
     background-color: var(--o-color-primary-darker);
}
.o_about_us_page .cta h2 {
    font-weight: bold;
}